@font-face {
  font-family: "iconfont"; /* Project id 4461202 */
  src: url('iconfont.woff2?t=1737616411992') format('woff2'),
       url('iconfont.woff?t=1737616411992') format('woff'),
       url('iconfont.ttf?t=1737616411992') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-juejin:before {
  content: "\e601";
}

.icon-gitee:before {
  content: "\e60c";
}

