body {
	font-size: 16px;
	font-family: 楷体;
}
.el-input__inner,
.el-range-input,
.el-button {
	font-family: 楷体;
}

/* 单行文本省略 */
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 2行文本省略 */
.text-ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 3行文本省略 */
.text-ellipsis3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
